html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html{
        font-size: 16px;
    }
}

.blog-header {
    margin-top: 7rem;
    max-width: 700px;
}

@media (max-width: 768px) {
    .blog-header {
        margin-top: 8rem;
    }
}

.container {
    max-width: 960px;
}

.team {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2rem;
}

.cards-deck .card {
    min-width: 220px;
}

.card-text {
    padding-top: 1rem;
}

.card-block {
    min-height: 220px;
}

.active {
    border-bottom: 1px solid black;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.bottom-bar .nav-link {
    color: #000;
}

.bottom-bar .nav-link.active {
    color: #007bff;
}

.nav-icon {
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .bottom-bar .nav-link {
        flex-grow: 1;
        text-align: center;
    }
}